/********************************
GENERAL
********************************/
body {
	font-family: 'Oregano', cursive;
}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
h3 {
	margin:  0 0 1em 0;
}
/********************************
HEADING
********************************/
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}
h1 {
	font-family: 'Poiret One', cursive;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0  0;
	font-weight: normal;
}



/********************************
NAVIGATION
********************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
nav li {
	display: inline-block;
}
nav a {
	font-weight: 800;
	padding: 15px 10px
}



/********************************
FOOTER
********************************/

footer {
	font-size: 1.00em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ffcc66; /*light orange*/
	background-color: #ffff99; /*light yellow*/
}



/********************************
PAGE: D I Y PRETTIES
********************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {

	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #ffcc66; /*light orange*/
	color: #993333; /*grey*/
}
#gallery li p {
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: #993333; 
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #993333; 
	text-align: center;
}

/********************************
PAGE: ATTEMPTS
********************************/
#sets {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sets li {

	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #ffcc66; /*light orange*/
	color: #993333; /*grey*/
}

#sets li a p {
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: #993333; 
	text-align: center;
}

#sets li p {
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: #993333; 
	text-align: center;
}

#sets p {
	text-align: center;
	color: #993333;
}

/********************************
PAGE: ABOUT
********************************/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
.secondary a {
	color:  #ffcc66;
}

/********************************
COLOURS
********************************/

/* orange header */
header {
	background: #ffcc66; /*light orange*/
	border-color: #ffcc66;
}

/* site body */
body {
	background-color: #ffff99; /*light yellow*/
	color: #993333; /*deep red*/
}

/* nav background on mobile */
nav {
	background-color: #ff9966; /*light pinkish red*/
}

/* logo text */
h1, h2 {
	color: #993333; /*deep red*/
}


/* nav link */
nav a, nav a:visited {
	color: #993333;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #fff;
}

